@import '~@fluentui/react/dist/sass/References.scss';
@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.birthdays {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.primaryBtn {
  margin-top: 10px;
}

.title {
  color: rgb(79, 79, 79);
}

.popupStyles {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.resultTxtStyle {
  font-weight: bold;
}

.containerDropDown {
  position: relative;
  padding: 10px, 10px, 10px, 0px;
  border-bottom: 1px, solid, black;
}

.dropDown {
  width: 70%;
  margin: 0px 4px 10px 0px;
}

.dropDownResetBtn {
  position: absolute;
  left: 74%;
  bottom: 10px;
  width: 20%;
  margin: 0px 4px 0px 0px;
}